@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
  --hue: 190;
  --base-color: hsl(var(--hue) 100% 30%);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

#titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabelaIMC {
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  margin: 50px auto;
  padding: 0px;
  border-radius: 10px;
}
.tabelaIMC ul {
  padding: 0px;
}

#imc {
  padding-left: 40px;
}

#imc li {

  list-style-type: none;
}

#tabResultado {
  padding-right: 40px;
}

#tabResultado li {
  list-style-type: none;
}

#resultado {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
}

form {
  border: 1px solid;
  border-radius: 5px;
  margin: 3px;
  padding: 20px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;

}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

form button:active {
  background: var(--base-color);
}